@import './variables.scss';

:host {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.nav {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background: $blue-light;
  cursor: pointer;
  box-shadow: $shadow;
}

.button-cancel {
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background: $red-light;
  cursor: pointer;
  box-shadow: $shadow;
}
