h2{
    text-align: center;
}
input, select{
    width: 95%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label{
    padding: 12px 12px 12px 0;
    display: flex;
    flex-direction: column;
}

#addAppointmentForm{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 10px;
    margin: 5px;
    position: relative;
    border: solid;
}

#cancelAppointment{
    background-color: red;
    border-radius: 6px;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#confirmAppointment{
    background-color: green;
    border-radius: 6px;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#appointmentButtons{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
