<div>
  <div id="Appointment" class="modal" (clickOutside)="closeModal()">
    <h2>Take appointment with {{ practitioner.name[0].prefix }} {{ practitioner.name[0].family }} {{ practitioner.name[0].given[0]
      }}
    </h2>
    <form (submit)="send()">
      <div>
        <label for="appointmentDate">Date </label>
        <input id="appointmentDate" type="date" name="date" [(ngModel)]="date" required />
      </div>
      <div>
        <label for="appointmentHour"> Time </label>
        <input id="appointmentHour" name="hour" [(ngModel)]="hour" type="time" min="09:00" max="17:00" required />
      </div>
      <div id="Description">
        <label for="appointmentDescription"> Reason </label>
        <select id="appointmentdescription" type="text" [(ngModel)]="description" name="description" required>
          <option [value]="description" *ngFor="let description of descriptionList" [ngValue]="description">{{ description }} </option>
        </select>
      </div>
      <div id="Priority">
        <label for="appointmentPriority">Priority</label>
        <select id="appointmentPriority" type="text" [(ngModel)]="priority" name="priority" required>
          <option [value]="priority" *ngFor="let priority of priorityList" [ngValue]="priority">{{priority}}</option>
        </select>
      </div>
      <div id="Comment">
        <label for="appointmentComment"> Comment </label>
        <textarea id="appointmentComment" name="comment" [(ngModel)]="comment"></textarea>
        <div class="buttons">
          <button class="button-cancel" (click)="closeModal()">
            Cancel
          </button>
          <button class="button" type="submit">Confirm</button>
        </div>
      </div>
    </form>
  </div>
</div>