@import '../../styles/component.scss';
@import '../../styles/variables.scss';

:host {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;

  .modal {
    background: $white;
    border-radius: 5px;
    widows: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 700px;
    padding: 20px;

    div {
      margin-top: 10px;
    }

    h2 {
      text-align: center;
    }

    input,
    select,
    textarea {
      width: 95%;
      max-width: 95%;
      min-width: 95%;
      padding: 10px;
      border: 1px solid $grey;
      border-radius: 5px;
      max-height: 200px;
    }
    option {
      padding: 10px;
    }

    label {
      display: flex;
      flex-direction: column;
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
  }
}
