@import '../../styles/component.scss';
@import '../../styles/variables.scss';

:host {
  .patient-data {
    margin: 20px;
    box-shadow: $shadow;
    background: $white;
    border-radius: 5px;
    padding: 20px;
    height: 150px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 30px;
    img {
      height: 150px;
      width: 150px;
      border: 1px solid black;
    }
  }
  .practitioners {
    margin: 20px;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 1000px) {
  :host {
    .patient-data {
      height: 300px;
    }
  }
}
@media only screen and (max-width: 650px) {
  :host {
    .patient-data {
      height: 400px;
      flex-wrap: nowrap;
      overflow: auto;
    }
  }
}
