@import './app/styles/variables.scss';

* {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  h1 {
    font-size: 30px;
    border-bottom: solid 3px $blue-light;
  }
}
body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 150px, $grey-light 150px),
    linear-gradient(50deg, #267bcf, #6b32d4);
}
